<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
<uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SaiyaGym"
        tools:targetApi="31">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.Design.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.saiyagym.LoginActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name="com.example.saiyagym.MainActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name="com.example.saiyagym.PasswordOlvidada"
            android:configChanges="orientation|screenSize"/>
        <activity android:name="com.example.saiyagym.SingIn"
            android:configChanges="orientation|screenSize"/>
        <activity android:name="com.example.saiyagym.IntroducirDatos"
            android:configChanges="orientation|screenSize"/>
        <activity android:name="com.example.saiyagym.ElegirMeta"
            android:configChanges="orientation|screenSize"/>
        <activity android:name="com.example.saiyagym.Principal"
               android:screenOrientation="portrait"/>


    </application>

</manifest>